clang_osx-64
clangxx_osx-64
setuptools
python=3.8.8
conda-forge::python.app
numpy
gdal>=3.1.4
freetype
cairo
matplotlib
pillow
wxpython
sqlite
jpeg
libpng
libtiff
pkg-config
libiconv
fftw
lapack
blas
giflib
proj>=7.1.1
geos>=3.8.1
krb5
gettext
ghostscript
zstd
ply
postgresql
cmake
llvm-openmp
scikit-learn
pandas
seaborn
geopandas
jupyterlab-lsp
lightgbm
libpysal
esda
xarray
black
numba
ipympl
descartes
tqdm
openpyxl
rasterio
